# Python
python-dotenv>=1.0.1
requests>=2.32.3

# Jupyter Notebook and Kernel
ipykernel>=6.29.5
ipywidgets>=8.1.5
notebook>=7.2.2

# Hugging Face Dependencies
accelerate>=0.34.2
huggingface_hub>=0.24.6
numpy<2
torch>=2.2.2
transformers>=4.44.2
